body
{
	margin: 0px;
	color: #212121;
	font: 400 16px/24px Roboto,sans-serif;
}


/* The Grid here STARTS */

*{
	box-sizing: border-box;
}



[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/* The Grid here ENDS */

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

/* Desktop code START: */

					[class*="nbox"]
					{
						background: pink;
						height: 50px;
						float: left;
						padding-left: 50px;
					}

			    	div.fixed_toolbar_top
					{
						background: pink;
						height: 60px;
						position: fixed;
						left: 0px;
						top: 0px;
					}

					div.top_toolbar
					{
						background: #039be5;
						height: 200px;
						position: fixed;
						top: 60px;
						padding-top: 50px;
						transition: height 0.3s ease-in-out 0s, padding 0.3s ease-in-out 0s;
						overflow: hidden;
						margin-bottom: 140px;
						box-shadow: 0px 4px 4px 2px #CCC;
					}

					div.top_toolbar > div.bottom_toolbar
					{
						position: absolute;
						left: 0px;
						bottom: 0px;
						background: #039be5;
						height: 60px;
						transition: height 0.3s ease-in-out 0s;
						padding: 4px 4px;

					}

					div.Landing_module > div.left-side-nav
					{
						background: yellow;
						height: 600px;
					}

					div.Landing_module > div.mid-content-area
					{
						background: blue;
						height: 600px;
					}

					div.Landing_module > div.right-side-nav
					{
						background: red;
						height: 600px;
					}

					div.Profile_module > div.left-side-nav
					{
						background: white;
						height: 600px;
					}

					div.Profile_module > div.mid-content-area
					{
						background: white;
						height: 600px;
					}

					div.Profile_module > div.right-side-nav
					{
						background: white;
						height: 600px;

					}



					div.Profile_module > div.mid-content-area > div.profile_mid_content
					{
						background: white;
						height: 400px;
						border-left: 4px solid #4a148c;
					}


					h2, h4
					{
						color: #616161;
					}


					div.Background_module > div.left-side-nav 
					{
						
						background: white;
						height: 600px;

					}

					div.Background_module > div.left-side-nav > div.content
					{
						background: #f5f5f5;
						height: 400px;
						margin-left: 40px;
						padding: 20px;
					}

					div.Background_module > div.mid-content-area
					{
						background: white;
						height: 800px;
					}

					div.Background_module > div.right-side-nav
					{
						background: white;
						height: 600px;
					}

					div.Background_module > div.mid-content-area > div.background_mid_content
					{
						background: white;
						height: 610px;
						border-left: 4px solid #4a148c;
						padding-left: 40px;
					}



					div.Vision_module > div.left-side-nav
					{
						background: white;
						height: 600px;
						position: static;
						
					}

					div.Vision_module > div.mid-content-area
					{
						background: white;
						height: 200px;
					}

					div.Vision_module > div.mid-content-area > div.Vision_mid_content
					{
						background: white;
						height: 200px;
						border-left: 4px solid #4a148c;
						padding-left: 40px;
						overflow: hidden;
					}

					div.Vision_module > div.right-side-nav
					{
						background: white;
						height: 600px;

					}

					div.Vision_module > div.left-side-nav > div.contentl
					{
						background: #f5f5f5;
						height: 400px;
						margin-left: 40px;
						padding: 20px;
						overflow: hidden;
						box-shadow: 0px 4px 4px 2px #CCC;
						position: static;
						z-index: 2;

					}

					div.Vision_module > div.right-side-nav > div.contentr
					{
						background: #f5f5f5;
						height: 400px;
						margin-right: 40px;
						padding: 20px;
						overflow: hidden;
						box-shadow: 0px 4px 4px 2px #CCC;
						position: static;
						z-index: 2px;
						
						
					}

					div.Services_module > div.left-side-nav
					{
						background: yellow;
						height: 600px;
					}

					div.Services_module > div.mid-content-area
					{
						background: blue;
						height: 600px;
					}

					div.Services_module > div.right-side-nav
					{
						background: red;
						height: 600px;
					}

					div.Contact_module > div.left-side-nav
					{
						background: yellow;
						height: 600px;
					}

					div.Contact_module > div.mid-content-area
					{
						background: blue;
						height: 600px;
					}

					div.Contact_module > div.right-side-nav
					{
						background: red;
						height: 600px;
					}

					p.big
					{
						line-height: 200%;
					}

					div.Landing_module
					{ display: none; margin-top: 285px;}

					div.Profile_module
					{ display: none; margin-top: 285px;}

					div.Background_module
					{ display: none; margin-top: 285px;}

					div.Vision_module
					{ display: block; margin-top: 285px; transition: margin 0.3s linear 0s}

					div.Services_module
					{ display: none; margin-top: 285px;}

					div.Contact_module
					{ display: none; margin-top: 285px;}

					div.pre-footer-area
					{
						background: #f5f5f5;
						height: 300px;
						position: static;
						z-index: 10;
					}

					div.top-footer
					{
						background: #424242;
						height: 300px;
						position: relative;
						bottom: 0px;
						overflow: hidden;
						word-wrap: break-word;
					}

					div.bottom-footer
					{
						background: #616161;
						height: 60px;
						position: relative;
						bottom: 0px;
					}

					div.first-footer-content > p
					{
						color: #E0E0E0;
						padding-left: 40px;
						padding-bottom: 8px;
						margin-top: 20px;
					}

					div.second-footer-content > p
					{
						color: #E0E0E0;
						padding-left: 25px;
						padding-left: 40px;
						padding-bottom: 8px;
						margin-top: 20px;
					}

					div.third-footer-content > p
					{
						color: #E0E0E0;
						padding-left: 25px;
						padding-left: 40px;
						padding-bottom: 8px;
						margin-top: 20px;
					}

					div.fourth-footer-content > p
					{
						color: #E0E0E0;
						padding-left: 25px;
						padding-left: 40px;
						padding-bottom: 8px;
						margin-top: 20px;
					}

					div.first-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						overflow: hidden;
						padding-top: 40px;
					}

					div.second-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-top: 40px;
						overflow: hidden;
					}

					div.third-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-top: 40px;
						overflow: hidden;
					}

					div.fourth-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-bottom: 70px;
						padding-top: 40px;
						overflow: hidden;
					}

					div.first-footer-content ul li 
					{
						
						padding-bottom: 6px;
						list-style-type: none;

					}

					div.second-footer-content  ul li 
					{
						padding-bottom: 6px;
						list-style-type: none;
					}

					div.third-footer-content ul li
					{
						padding-bottom: 6px;
						list-style-type: none;
					}

					div.fourth-footer-content ul li
					{
						padding-bottom: 6px;
						list-style-type: none;
					}

					div.top-bar 
					{
						border-top: 1px solid #9E9E9E;
						margin-left: 40px;
						margin-bottom: 0px;

					}


/* Desktop code END: */

}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

/* Tablet code START: */

			[class*="nbox"]
{
	background: transparent;
	height: 50px;
	float: left;
	padding-left: 30px;
}					

div.Landing_module
{ display: none; margin-top: 285px;}

div.Profile_module
{ display: none; margin-top: 285px;}

div.Background_module
{ display: none; margin-top: 285px;}

div.Vision_module
{ display: block; margin-top: 285px; transition: margin 0.3s linear 0s}

div.Services_module
{ display: none; margin-top: 285px;}

div.Contact_module
{ display: none; margin-top: 285px;}

					div.fixed_toolbar_top
					{
						background: #0288d1;
						height: 60px;
						position: fixed;
						left: 0px;
						top: 0px;
						width: 100%;
					}

					div.top_toolbar
					{
						background: #039be5;
						height: 200px;
						position: fixed;
						top: 60px;
						padding-top: 50px;
						transition: height 0.3s ease-in-out 0s, padding 0.3s ease-in-out 0s;
						overflow: hidden;
						margin-bottom: 140px;
						box-shadow: 0px 4px 4px 2px #CCC;
						width: 100%;
					}

					div.top_toolbar > div.bottom_toolbar
					{
						position: absolute;
						left: 0px;
						bottom: 0px;
						background: #039be5;
						height: 60px;
						transition: height 0.3s ease-in-out 0s;
						padding: 4px 4px;
						width: 100%;

					}


					
						div.top-footer
					{
						background: #424242;
						height: 300px;
						position: relative;
						bottom: 0px;
						overflow: hidden;
						word-wrap: break-word;
					}
					

					div.bottom-footer
					{
						background: #616161;
						height: 60px;
						position: relative;
						bottom: 0px;
						width: 100%;
					}

					div.first-footer-content > p
					{
						color: #E0E0E0;
						
					}

					div.second-footer-content > p
					{
						color: #E0E0E0;
						
					}

					div.third-footer-content > p
					{
						color: #E0E0E0;
						
					}

					div.fourth-footer-content > p
					{
						color: #E0E0E0;
						
					}

					div.first-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						overflow: hidden;
						padding-top: 40px;
						height: 200px;
						width: 50%;
					}

					div.second-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-top: 40px;
						overflow: hidden;
						width: 50%;
						height: auto;
					}

					div.third-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-top: 40px;
						overflow: hidden;
						width: 50%;
						height: 395px;
					}

					div.fourth-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-bottom: 70px;
						padding-top: 40px;
						overflow: hidden;
						width: 50%;
						height: auto;
					}

					div.first-footer-content ul li 
					{
						
						
						list-style-type: none;

					}

					div.second-footer-content  ul li 
					{
						
						list-style-type: none;
					}

					div.third-footer-content ul li
					{
						
						list-style-type: none;
					}

					div.fourth-footer-content ul li
					{
						
						list-style-type: none;
					}

					div.top-bar 
					{
						border-top: 1px solid #9E9E9E;
						margin-left: 40px;
						margin-bottom: 0px;

					}




					div.Vision_module > div.left-side-nav
					{
						background: white;
						height: 600px;
						position: static;
						z-index: 1;
						display: block;
					}

					div.Vision_module > div.mid-content-area
					{
						background: white;
						height: 1300px;

					}

					div.Vision_module > div.mid-content-area > div.Vision_mid_content
					{
						background: white;
						height: 1250px;
						border-left: 4px solid #4a148c;
						padding-left: 40px;
						overflow: hidden;
					}

					div.Vision_module > div.right-side-nav
					{
						background: white;
						height: 600px;
						display: block;
					}

					div.Vision_module > div.left-side-nav > div.contentl
					{
						background: #f5f5f5;
						height: 400px;
						margin-left: 40px;
						padding: 20px;
						overflow: hidden;
						box-shadow: 0px 4px 4px 2px #CCC;
						position: static;
						z-index: 2;
						display: block;

					}

					div.Vision_module > div.right-side-nav > div.contentr
					{
						background: #f5f5f5;
						height: 400px;
						margin-right: 40px;
						padding: 20px;
						overflow: hidden;
						box-shadow: 0px 4px 4px 2px #CCC;
						position: static;
						z-index: 2px;
						display: block;
						
					}
					div.pre-footer-area
					{
						background: #f5f5f5;
						height: 300px;
						position: static;
						z-index: 10;
						width: 100%;
					}

/* Tablet code END: */

}


[class*="nbox"]
{
	background: transparent;
	height: 50px;
	float: left;
	padding-left: 30px;
}					

div.Landing_module
{ display: none; margin-top: 285px;}

div.Profile_module
{ display: none; margin-top: 285px;}

div.Background_module
{ display: none; margin-top: 285px;}

div.Vision_module
{ display: block; margin-top: 285px; transition: margin 0.3s linear 0s}

div.Services_module
{ display: none; margin-top: 285px;}

div.Contact_module
{ display: none; margin-top: 285px;}

					div.fixed_toolbar_top
					{
						background: #0288d1;
						height: 60px;
						position: fixed;
						left: 0px;
						top: 0px;
						width: 100%;
					}

					div.top_toolbar
					{
						background: #039be5;
						height: 200px;
						position: fixed;
						top: 60px;
						padding-top: 50px;
						transition: height 0.3s ease-in-out 0s, padding 0.3s ease-in-out 0s;
						overflow: hidden;
						margin-bottom: 140px;
						box-shadow: 0px 4px 4px 2px #CCC;
						width: 100%;
					}

					div.top_toolbar > div.bottom_toolbar
					{
						position: absolute;
						left: 0px;
						bottom: 0px;
						background: #039be5;
						height: 60px;
						transition: height 0.3s ease-in-out 0s;
						padding: 4px 4px;
						width: 100%;

					}


					div.top-footer
					{
						display: none;
						overflow: hidden;
					}

					div.bottom-footer
					{
						background: #616161;
						height: 60px;
						position: relative;
						bottom: 0px;
						width: 100%;
					}

					div.first-footer-content > p
					{
						color: #E0E0E0;
						
					}

					div.second-footer-content > p
					{
						color: #E0E0E0;
						
					}

					div.third-footer-content > p
					{
						color: #E0E0E0;
						
					}

					div.fourth-footer-content > p
					{
						color: #E0E0E0;
						
					}

					div.first-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						overflow: hidden;
						padding-top: 40px;
						height: 200px;
						width: 50%;
					}

					div.second-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-top: 40px;
						overflow: hidden;
						width: 50%;
						height: auto;
					}

					div.third-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-top: 40px;
						overflow: hidden;
						width: 50%;
						height: 395px;
					}

					div.fourth-footer-content 
					{
						color: #9E9E9E;
						padding-top: 70px;
						padding-bottom: 70px;
						padding-top: 40px;
						overflow: hidden;
						width: 50%;
						height: auto;
					}

					div.first-footer-content ul li 
					{
						
						
						list-style-type: none;

					}

					div.second-footer-content  ul li 
					{
						
						list-style-type: none;
					}

					div.third-footer-content ul li
					{
						
						list-style-type: none;
					}

					div.fourth-footer-content ul li
					{
						
						list-style-type: none;
					}

					div.top-bar 
					{
						border-top: 1px solid #9E9E9E;
						margin-left: 40px;
						margin-bottom: 0px;

					}





					div.Vision_module > div.left-side-nav
					{
						display: none;
						overflow: hidden;
					}

					div.Vision_module > div.mid-content-area
					{
						background: white;
						height: 1800px;
					}

					div.Vision_module > div.mid-content-area > 
					div.Vision_mid_content
					{
						background: white;
						height: 1800px;
						
						padding-left: 40px;
						overflow: hidden;
					}

					div.Vision_module > div.right-side-nav
					{
						display: none;
						overflow: hidden;

					}

					div.Vision_module > div.left-side-nav > div.contentl
					{
						display: none;
						overflow: hidden;

					}

					div.Vision_module > div.right-side-nav > div.contentr
					{
						display: none;
						overflow: hidden;
						
						
					}

					div.pre-footer-area
					{
						background: #f5f5f5;
						height: 300px;
						position: static;
						z-index: 10;
						width: 100%;
					}